.banner{
  background-image: url("../img/banners/banner-desktop.png");
  height: 100vh;
  background-size: cover;
  /* Aplicando o efeito paralax que foi pedido nos requisitos*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: right;
}
  .titulos>h1{
    margin-top: 40vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 4em;
    color: white;
  }
  .titulos>p{
    display: flex;
    font-size: 1.5em;
    color: white;
  }
  .titulos>a{
    background-color: rgba(51, 187, 105, 0);
    border-color: #33BB69;
    width: 35%;

    transition: 300ms ease-in-out;
  }
  .titulos>a:hover{
    background-color: rgba(51, 187, 105, 0.5);
    border-color: #33BB69;
  }

div>h6 {
  margin-top: 2vh;
}

.card{
  margin: 20px auto !important;
  transition: 300ms ease-in-out;
}
  .card>h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  .card-body>.btn-primary {
      color: #fff;
      background-color: #33BB69;
      border-color: #33BB69;
      transition: 300ms ease-in-out;
  }
  .card-body>.btn-primary:hover {
      background-color: rgb(59, 209, 119);
      border-color: #33BB69;
  }

.itens-title{
  padding-top: 20px;
  padding: 20px;
  text-align: center;
}

.card:hover{
  transform: scale(1.05);
}